@inherits LayoutComponentBase

<PageTitle>SignalRStreaming.UI</PageTitle>

<div class="page">
    <main>
        <div class="Sticky-wrapper">
            <NavMenu />
        </div>

        <article class="container-fluid">
            @Body
        </article>
    </main>
</div>
